h2 {
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: center;
}

body {
	color: #eee;
	background: #121212;
}

a {
	color: #eee;
	text-decoration: none;
}

body.light-mode {
	color: #222;
	background: #fff;
}

a.light-mode {
	color: #0033cc;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 160px;
	width: 200px;
	margin: 20px;
	padding: 15px;
	background-color: #2c2c2c;
	border-radius: 15px;
}

.title{
	height: 30px;
	padding: 0px;
	margin: 0px;
}

.text {
	display: flex;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 70px;
	flex-direction: column;
	justify-content: center;
}

.button {
	display: flex;
	border-radius: 5px;
	width: 100px;
	height: 30px;
	background-color: purple;
	flex-direction: column;
	justify-content: center;
}